*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex: 1;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-pane {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 300px;
}

.right-pane {
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 3;
}

.empty-right-pane {
    display: flex;
    flex: 1;
    align-items: center;
}

.background-element {
    position: fixed;
    height: 1.2rem;
    left: auto;
    width: inherit;
    background: green;
}

.results-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    overflow: hidden;
}

.server {
    cursor: pointer;
    user-select: none;
    margin: 2.5rem 0 2.5rem 0;
    justify-content: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.server:active {
    box-shadow: inset 5px 5px 5px #aaaaaa;
}

.highlighted {
    background-color: rgb(130, 202, 157);
}

.server span {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}

.server-spacing {
    width: 10rem;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 0;
    }

    .left-pane {
        height: auto;
        width: auto;
        flex: 0;
        margin: 2rem;
    }

    .right-pane {
        height: auto;
        width: auto;
    }

    .server {
        margin: 0;
    }
}