*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex: 1;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.server {
    cursor: pointer;
    user-select: none;
}

.highlighted {
    color: red;
    cursor: pointer;
}

.left-pane {
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    border-right: 1px solid black;
}

.left-pane h1 {
    align-self: center;
}

.right-pane {
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 3;
}

.results-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 20rem;
}